body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background: linear-gradient(135deg, #1e3c72, #2a5298);
    color: white;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
    background: rgba(0,0,0,0.3);
    backdrop-filter: blur(10px);
}

.navbar a {
    margin: 0 10px;
    color: white;
    text-decoration: none;
}

.navbar .active {
    border-bottom: 2px solid yellow;
}

/* HERO */
.hero {
    text-align: center;
    margin-top: 100px;
}

/* CARD */
.card {
    background: white;
    color: black;
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 10px 30px rgba(0,0,0,0.3);
}

/* FOTO */
.foto {
    width: 120px;
    border-radius: 50%;
    margin-bottom: 10px;
}

/* FORM */
input {
    width: 90%;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    border: none;
}

button {
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    background: #2a5298;
    color: white;
    cursor: pointer;
}

.foto {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
    border: 3px solid #2a5298;
}
/* DARK MODE */
.dark-mode {
    background: #121212;
    color: white;
}